<app-main-nav>
    <!-- Row 1 --> 
    <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayout="2%" fxLayoutAlign="center">
        <div fxFlex="100%" fxFlex.xs="100%">
            <!-- London Hyrdo Pricing Card -->
            <mat-card class="settings-card" fxFlex="70%" fxFlex.xs="100%" fxLayoutDesign="left">
                <mat-card-header class="card-title">
                  <mat-card-title>London Hydro Pricing</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                  <!-- Sldier -->
                  <div fxFlex="20%" fxFlex.xs="100%" class="slider-space">
                    <mat-slider 
                      [vertical]="vertical"
                      [min]="min"
                      [max]="max"
                      [step]="step"
                      [value]="value"
                      [thumbLabel]="thumbLabel"
                      >   
                    </mat-slider>
                  </div>

                  <!-- Graph -->
                  <div fxFlex="90%" fxFlex.xs="100%">
                      <ngx-charts-line-chart
                      [legend]="legend"
                      [scheme]="colorScheme"
                      [results]="multi"
                      [gradient]="gradient"
                      [xAxis]="showXAxis"
                      [yAxis]="showYAxis"
                      [legend]="showLegend"
                      [showXAxisLabel]="showXAxisLabel"
                      [showYAxisLabel]="showYAxisLabel"
                      [xAxisLabel]="xAxisLabel"
                      [yAxisLabel]="yAxisLabel"
                      [autoScale]="autoScale"
                      [timeline]="timeline"
                      [view]="view"
                      [showRefLines]="showRefLines"
                      [activeEntries]="activeEntries"
                      (select)="onSelect($event)">
                    </ngx-charts-line-chart>
                  </div>
                </mat-card-content>
              </mat-card>
          <!-- Buy Settings Card -->
          <mat-card class="settings-card" fxFlex="30%" fxFlex.xs="100%" fxLayoutDesign="left">
            <mat-card-header class="card-title">
                <mat-card-title>Buy Settings</mat-card-title>
                  <span class="fill-space"></span>
                  <div *ngIf="disabled; else edit">
                      <span><i class="material-icons profile-icon" (click)="editBuySettings()" matTooltip="Edit profile">edit</i></span>
                  </div>
                  <ng-template #edit>
                      <span><i class="material-icons profile-icon" (click)="cancel()" matTooltip="Cancel changes">close</i></span>
                  </ng-template>
            </mat-card-header>
            <mat-card-content>
              <div fxFlex="100%" fxFlex.xs="100%">
                  <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayout="2%" fxLayoutAlign="center" class="form-container">
                      <mat-form-field class="form-space" >
                        <input matInput placeholder="Price" [(ngModel)]="userProfile.maxPurchasePrice" [disabled]="disabled">
                      </mat-form-field>
                    </div>
                    <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayout="2%" fxLayoutAlign="center" class="form-container">
                        <button mat-stroked-button class="sell-button save-button" data-toggle="modal" data-target="#save" (click)="saveBuySettings()" *ngIf="!disabled">Save</button>
                    </div>
              </div>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
  </app-main-nav>

  <!-- Saving modal -->
<div class="modal fade" id="save" tabindex="-1" role="dialog"
aria-labelledby="visualizeTreatmentsModal" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-body">
        <h3 class="red scanning-title">Saving...</h3>
        <div class="spinner red"></div>
        </div>
      </div>
    </div>
</div>

