<app-main-nav>
  <!-- Row 1 --> 
    <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayout="2%" fxLayoutAlign="center">
        <div fxFlex="100%" fxFlex.xs="100%">
            <!-- London Hyrdo Pricing Card -->
            <mat-card class="settings-card" fxFlex="60%" fxLayoutDesign="left">
                <mat-card-header class="card-title">
                  <mat-card-title>London Hydro Pricing</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                            <ngx-charts-line-chart
                            [legend]="legend"
                            [scheme]="colorScheme"
                            [results]="multi"
                            [gradient]="gradient"
                            [xAxis]="showXAxis"
                            [yAxis]="showYAxis"
                            [legend]="showLegend"
                            [showXAxisLabel]="showXAxisLabel"
                            [showYAxisLabel]="showYAxisLabel"
                            [xAxisLabel]="xAxisLabel"
                            [yAxisLabel]="yAxisLabel"
                            [autoScale]="autoScale"
                            [timeline]="timeline"
                            [view]="view"
                            (select)="onSelect($event)">
                          </ngx-charts-line-chart>
                </mat-card-content>
              </mat-card>

                           <!-- Battery Card -->
                           <mat-card class="settings-card" fxFlex="40%" fxLayoutDesign="left">
                              <mat-card-header class="card-title">
                                <mat-card-title>Battery Settings</mat-card-title>
                                <span class="fill-space"></span>
                                <span><i class="material-icons profile-icon" matTooltip="Add Battery" data-toggle="modal" data-target="#batterySearch" (click)="searchForBattery()">battery_charging_full</i></span>
                              </mat-card-header>
                              <mat-card-content>
                                  <div fxFlex="100%" fxFlex.xs="100%">
                                      <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayout="2%" fxLayoutAlign="center" class="form-container">
                                          <mat-form-field class="form-space" >
                                              <input matInput placeholder="Serial Number" [(ngModel)]="serialNumber">
                                            </mat-form-field>
                                      </div>
                                      <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayout="2%" fxLayoutAlign="center" class="form-container">
                                            <mat-form-field class="form-space" >
                                                <input matInput placeholder="Manufacturer" [(ngModel)]="manufacturer">
                                            </mat-form-field>
                                      </div>
                                      <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayout="2%" fxLayoutAlign="center" class="form-container">
                                          <mat-form-field class="form-space" >
                                              <input matInput placeholder="Model" [(ngModel)]="model">
                                          </mat-form-field>
                                      </div>
                                      <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayout="2%" fxLayoutAlign="center" class="form-container">
                                          <mat-form-field class="form-space" >
                                              <input matInput placeholder="Max Capacity" [(ngModel)]="maxCapacity">
                                          </mat-form-field>
                                      </div>
                                      <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayout="2%" fxLayoutAlign="center" class="form-container">
                                        <mat-form-field class="form-space" >
                                          <input matInput placeholder="Current Capacity" [(ngModel)]="currentCapacity">
                                        </mat-form-field>
                                      </div>
                                  </div>
                              </mat-card-content>
                              <mat-card-actions>
                              </mat-card-actions>  
                            </mat-card>

            
             

        </div>
      </div>
      <!-- Row 2 --> 
      <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayout="2%" fxLayoutAlign="center">
          <div fxFlex="100%" fxFlex.xs="100%">
                          <!-- Available Buyers Card -->
                          <!--
                          <mat-card class="settings-card" fxFlex="40%" fxLayoutDesign="left">
                              <mat-card-header class="card-title">
                                <mat-card-title>Available Buyers</mat-card-title>
                              </mat-card-header>
                              <mat-card-content>
                 
                              </mat-card-content>
                            </mat-card> 
                          -->
                            
                          <!-- Sell Energy Card -->
                          <mat-card class="settings-card" fxFlex="100%" fxLayoutDesign="left">
                            <!--  
                            <mat-card-header class="card-title sell-energy-title">
                                <mat-card-title class="">Sell Energy<span class="fill-title"></span>Available Buyers</mat-card-title>
                              </mat-card-header>
                            -->
                              <mat-card-content>
                                  <div fxFlex="50%" fxFlex.xs="100%">
                                    <mat-card-title>Sell Energy</mat-card-title>
                                    <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayout="2%" fxLayoutAlign="center" class="form-container">
                                      <mat-form-field class="form-space" >
                                        <input matInput (change)="sortAvailableConsumers()" [(ngModel)]="userProfile.minSellingPrice" placeholder="Price">
                                      </mat-form-field>
                                    </div>
                                    <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayout="2%" fxLayoutAlign="center" class="form-container">
                                      <mat-form-field class="form-space" >
                                          <input [(ngModel)]="quantity" matInput placeholder="Quantity">
                                      </mat-form-field>
                                    </div>
                                    <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayout="2%" fxLayoutAlign="center" class="form-container">
                                        <button [disabled]="!this.selectedConsumer" (click)="postTrade()" mat-stroked-button class="sell-button">Sell</button>
                                    </div>
                                  </div>
                                  <div fxFlex="50%" fxFlex.xs="100%">
                                      <mat-card-title>Available Buyers</mat-card-title>
                                      <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayout="2%" fxLayoutAlign="center" class="form-container">
                                        <mat-list class="list-size">
                                          <ng-container *ngFor="let buyer of availableConsumers">
                                          <mat-list-item (click)="selectBuyer(buyer)" [class.selected]="buyer === selectedConsumer" class="battery-list"> 
                                            <mat-divider></mat-divider>
                                            {{ buyer.fname + " " + buyer.lname }}
                                          </mat-list-item>
                                        </ng-container>
                                        </mat-list> 
                                    </div>
                                  </div>
                              </mat-card-content>
                              <mat-card-actions>
                              </mat-card-actions>
                            </mat-card>
 
          </div>
        </div>
</app-main-nav>

<!-- Scanning modal -->
<div class="modal fade" id="batterySearch" tabindex="-1" role="dialog"
aria-labelledby="visualizeTreatmentsModal" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-body">
        <h3 class="red scanning-title">Scanning for batteries..</h3>
        <div class="spinner red"></div>
        </div>
      </div>
    </div>
</div>

<!-- Battery found modal -->
<div class="modal fade" id="batteryFound" tabindex="-1" role="dialog"
aria-labelledby="visualizeTreatmentsModal" aria-hidden="true">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
        <div class="modal-header">
						<div class="modal-title">
                <h3>Battery Found...</h3>
						</div>
						<button type="button" class="close" data-dismiss="modal">
							<span aria-hidden="true">&times;</span>
							<span class="sr-only">Close</span>
						</button>
					</div>
      <div class="modal-body">
        <mat-list>
          <mat-list-item class="battery-list" (click)="addBattery()">Tesla Powerwall #89760593203</mat-list-item>
            <p></p>
        </mat-list>
      </div>
      </div>
    </div>
</div>
