<app-main-nav>
  <!-- Row 1 --> 
    <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayout="2%" fxLayoutAlign="center">
        <div fxFlex="100%" fxFlex.xs="100%">
            <!-- London Hyrdo Pricing Card -->
            <mat-card class="settings-card animated fadeIn" fxFlex="60%" fxLayoutDesign="left">
                <mat-card-header class="card-title">
                  <mat-card-title>London Hydro Pricing</mat-card-title>
                  <span class="fill-space"></span>
                  <button mat-stroked-button class="sell-button" data-toggle="modal" data-target="#sellElectricity">
                    <i class="material-icons">flash_on</i>
                    Sell Electricity</button>
                </mat-card-header>
                <mat-card-content>
                            <ngx-charts-line-chart
                            [legend]="legend"
                            [scheme]="colorScheme"
                            [results]="multi"
                            [gradient]="gradient"
                            [xAxis]="showXAxis"
                            [yAxis]="showYAxis"
                            [legend]="showLegend"
                            [showXAxisLabel]="showXAxisLabel"
                            [showYAxisLabel]="showYAxisLabel"
                            [xAxisLabel]="xAxisLabel"
                            [yAxisLabel]="yAxisLabel"
                            [autoScale]="autoScale"
                            [timeline]="timeline"
                            [view]="view"
                            (select)="onSelect($event)">
                          </ngx-charts-line-chart>
                </mat-card-content>
              </mat-card>

                           <!-- Battery Card -->
                           <!--
                           <mat-card class="settings-card" fxFlex="40%" fxLayoutDesign="left">
                              <mat-card-header class="card-title">
                                <mat-card-title>Battery Settings</mat-card-title>
                                <span class="fill-space"></span>
                                <button mat-stroked-button class="sell-button" data-toggle="modal" data-target="#batterySearch" (click)="searchForBattery()">
                                    <i class="material-icons" >battery_charging_full</i>
                                    Add Battery
                                </button>
                                
                              </mat-card-header>
                              <mat-card-content>
                                  <div fxFlex="100%" fxFlex.xs="100%">
              
                                    
                                      <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayout="2%" fxLayoutAlign="center" class="form-container">
                                          <mat-form-field class="form-space" >
                                              <input matInput placeholder="Serial Number" [(ngModel)]="serialNumber">
                                            </mat-form-field>
                                            <mat-form-field class="form-space" >
                                                <input matInput placeholder="Manufacturer" [(ngModel)]="manufacturer">
                                            </mat-form-field>
                                      </div>
                                      <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayout="2%" fxLayoutAlign="center" class="form-container">
                                          <mat-form-field class="form-space" >
                                              <input matInput placeholder="Model" [(ngModel)]="model">
                                          </mat-form-field>
                                          <mat-form-field class="form-space" >
                                              <input matInput placeholder="Max Capacity" [(ngModel)]="maxCapacity">
                                          </mat-form-field>
                                          <mat-form-field class="form-space" >
                                              <input matInput placeholder="Current Capacity" [(ngModel)]="currentCapacity">
                                            </mat-form-field>
                                      </div>
                                      <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayout="2%" fxLayoutAlign="center" class="form-container">
                                          <div fxFlex="50%" fxFlex.xs="100%" class="battery-container">
                                            <div class="pole"></div>  
                                            <div class="outer">
                                                  <div class="inner"></div>
                                                  <div class="inner"></div>
                                                  <div class="inner"></div>
                                                </div>    
                                      </div>
                  </div>
                </mat-card-content>
              <mat-card-actions>
            </mat-card-actions>  
          </mat-card>
        -->
        <mat-card class="settings-card animated fadeIn" fxFlex="40%" fxLayoutDesign="left">
            <mat-card-header class="card-title">
              <mat-card-title>Battery Settings</mat-card-title>
              <span class="fill-space"></span>
                  <button mat-stroked-button class="sell-button" data-toggle="modal" data-target="#batterySearch" (click)="searchForBattery()" *ngIf="userProfile.battery == undefined; else removeBattery">
                      <i class="material-icons" >battery_charging_full</i>
                      Add Battery
                  </button>
              <ng-template #removeBattery>
                  <button mat-stroked-button class="sell-button" data-toggle="modal" data-target="#batteryRemove" (click)="deleteBattery()">
                      <i class="material-icons" >battery_charging_full</i>
                      Remove Battery
                  </button>
              </ng-template>
            </mat-card-header>
            <mat-card-content>

                <!-- Displays the battery information -->
                <div fxFlex="100%" fxFlex.xs="100%" *ngIf="userProfile.battery !== undefined; else noBattery">
                    <div fxFlex="50%" fxFlex.xs="100%">
                      <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayout="2%" fxLayoutAlign="center" class="form-container">
                          <mat-form-field class="form-space" >
                              <input matInput placeholder="Serial Number" [(ngModel)]="serialNumber" disabled>
                            </mat-form-field>
                      </div>
                      <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayout="2%" fxLayoutAlign="center" class="form-container">
                            <mat-form-field class="form-space" >
                                <input matInput placeholder="Manufacturer" [(ngModel)]="manufacturer" disabled>
                            </mat-form-field>
                      </div>
                      <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayout="2%" fxLayoutAlign="center" class="form-container">
                          <mat-form-field class="form-space" >
                              <input matInput placeholder="Model" [(ngModel)]="model" disabled>
                          </mat-form-field>
                      </div>
                      <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayout="2%" fxLayoutAlign="center" class="form-container">
                          <mat-form-field class="form-space" >
                              <input matInput placeholder="Max Capacity" [(ngModel)]="maxCapacity" disabled>
                          </mat-form-field>
                      </div>
                      <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayout="2%" fxLayoutAlign="center" class="form-container">
                        <mat-form-field class="form-space" >
                          <input matInput placeholder="Current Capacity" [(ngModel)]="currentCapacity" disabled>
                        </mat-form-field>
                      </div>
                  </div>
                  <!-- Battery Animation -->
                  <div fxFlex="50%" fxFlex.xs="100%" class="battery-container">
                      <div class="pole"></div>  
                      <div id="battery" class="outer">
                        <div id="battery-height" class="inner" (click)="setBatteryCapacity()"></div>
                      </div>                       
                  </div>
                </div>
              <!-- To show when there is no battery on the user profile -->
              <ng-template #noBattery>
                <div class="no-battery-container">
                  <p class="paragraph-text">You are not connected to a battery.</p>
                </div>
              </ng-template>
            </mat-card-content>
            <mat-card-actions>
            </mat-card-actions>  
          </mat-card>
        </div>
      </div>
      <!-- Row 2 --> 
      <!--
      <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayout="2%" fxLayoutAlign="center">
          <div fxFlex="100%" fxFlex.xs="100%">                          
                          <mat-card class="settings-card" fxFlex="100%" fxLayoutDesign="left">
                              <mat-card-content>
                                  <div fxFlex="50%" fxFlex.xs="100%">
                                    <mat-card-title>Sell Energy</mat-card-title>
                                    <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayout="2%" fxLayoutAlign="center" class="form-container">
                                      <mat-form-field class="form-space" >
                                        <input matInput (change)="sortAvailableConsumers()" [(ngModel)]="userProfile.minSellingPrice" placeholder="Price">
                                      </mat-form-field>
                                    </div>
                                    <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayout="2%" fxLayoutAlign="center" class="form-container">
                                      <mat-form-field class="form-space" >
                                          <input [(ngModel)]="quantity" matInput placeholder="Quantity">
                                      </mat-form-field>
                                    </div>
                                    <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayout="2%" fxLayoutAlign="center" class="form-container">
                                        <button [disabled]="!this.selectedConsumer" (click)="postTrade()" mat-stroked-button class="sell-button">Sell</button>
                                    </div>
                                  </div>
                                  <div fxFlex="50%" fxFlex.xs="100%">
                                      <mat-card-title>Available Buyers</mat-card-title>
                                      <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayout="2%" fxLayoutAlign="center" class="form-container">
                                        <mat-list class="list-size">
                                          <ng-container *ngFor="let buyer of availableConsumers">
                                          <mat-list-item (click)="selectBuyer(buyer)" [class.selected]="buyer === selectedConsumer" class="battery-list"> 
                                            <mat-divider></mat-divider>
                                            {{ buyer.fname + " " + buyer.lname }}
                                          </mat-list-item>
                                        </ng-container>
                                        </mat-list> 
                                    </div>
                                  </div>
                              </mat-card-content>
                              <mat-card-actions>
                              </mat-card-actions>
                            </mat-card>
 
          </div>
        </div>
      -->
</app-main-nav>

<!-- Scanning modal -->
<div class="modal fade" id="batterySearch" tabindex="-1" role="dialog"
aria-labelledby="visualizeTreatmentsModal" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-body">
        <h3 class="red scanning-title">Scanning for batteries..</h3>
        <div class="spinner red"></div>
        </div>
      </div>
    </div>
</div>

<!-- Battery found modal -->
<div class="modal fade" id="batteryFound" tabindex="-1" role="dialog"
aria-labelledby="visualizeTreatmentsModal" aria-hidden="true">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
        <div class="modal-header">
						<div class="modal-title">
                <h3>Battery Found...</h3>
						</div>
						<button type="button" class="close" data-dismiss="modal">
							<span aria-hidden="true">&times;</span>
							<span class="sr-only">Close</span>
						</button>
					</div>
      <div class="modal-body">
        <mat-list>
          <mat-list-item class="battery-list" (click)="addBattery()">Tesla Powerwall #89760593203</mat-list-item>
            <p></p>
        </mat-list>
      </div>
      </div>
    </div>
</div>

<!-- Sell electricity modal -->
<div class="modal fade" id="sellElectricity" tabindex="-1" role="dialog"
aria-labelledby="visualizeTreatmentsModal" aria-hidden="true">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
        <div class="modal-header">
						<div class="modal-title">
                <h3>Sell Electricity</h3>
						</div>
						<button type="button" class="close" data-dismiss="modal">
							<span aria-hidden="true">&times;</span>
							<span class="sr-only">Close</span>
						</button>
					</div>
      <div class="modal-body form-container">
        <!-- Price -->
        <p class="modal-text">1. Enter selling price</p>
        <mat-form-field class="form-space">
            <input matInput (change)="sortAvailableConsumers()" [(ngModel)]="userProfile.minSellingPrice">
        </mat-form-field>
        <!-- Quantity -->
        <p class="modal-text">2. Enter quantity</p>
        <mat-form-field class="form-space" >
            <input [(ngModel)]="quantity" matInput>
        </mat-form-field>
        <!-- Available buyers -->
        <p class="modal-text">3. Select a buyer</p>
        <mat-list class="list-size">
            <ng-container *ngFor="let buyer of availableConsumers">
            <mat-list-item (click)="selectBuyer(buyer)" [class.selected]="buyer === selectedConsumer" class="battery-list"> 
              <mat-divider></mat-divider>
              <ng-container *ngIf="buyer.isFriend"><span class="fill-space"></span><i class="material-icons">person</i> </ng-container>{{ buyer.fname + " " + buyer.lname }}
            </mat-list-item>
          </ng-container>
          </mat-list>
        <!-- Sell Button -->
        <button [disabled]="!this.selectedConsumer" (click)="postTrade()" mat-stroked-button class="sell-button sell-space sell-container">Sell</button>
      </div>
      </div>
    </div>
</div> 

<!-- Validating Sale Modal -->
<div class="modal fade" id="trading" tabindex="-1" role="dialog"
aria-labelledby="visualizeTreatmentsModal" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-body">
        <h3 class="red scanning-title">Validating Sale...</h3>
        <div class="spinner red"></div>
        </div>
      </div>
    </div>
</div>

<!-- Deleting Battery modal -->
<div class="modal fade" id="batteryRemove" tabindex="-1" role="dialog"
aria-labelledby="visualizeTreatmentsModal" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-body">
        <h3 class="red scanning-title">Removing battery...</h3>
        <div class="spinner red"></div>
        </div>
      </div>
    </div>
</div>