.graph-title {
    font-size: x-large;
    margin-bottom: 2.5%;
    font-weight: bold;
}

.useage-card {
    height: 350px;
    background: #F5F5F5;
    color: #373B46;
    margin: 3%;
}
th, td {
    overflow: hidden;
    width: 200px;
    text-overflow: ellipsis;
    white-space: nowrap;
    }

.big-icon {
    width: 48px;
    height: 48px;
}

.mat-list-item {
    color: #B00F3B !important;
}

.mat-list-item:hover {
    color: #F1F1F1 !important;
    background: #B00F3B !important;
    cursor: pointer;
}

.empty-card {
    height: 600px;
}

.empty-text {
    padding-right: 10%; 
}

.loader,
.loader:before,
.loader:after {
  background: #B00F3B;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
  height: 100%;
}
.loader {
  color: #ffffff;
  text-indent: -9999em;
  margin: 88px auto;
  position: relative;
  z-index: 9999;
  font-size: 11px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
  height: 100%;
}
.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: '';
}
.loader:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 1.5em;
}
@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
