
<app-main-nav>
    <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayout="2%" fxLayoutAlign="center">
        <div fxFlex="70%" fxFlex.xs="100%">
            <mat-card class="home-card animated fadeIn">
                <mat-card-header class="card-title">
                  <mat-card-title>My Profile</mat-card-title>
                  <span class="fill-space"></span>
                  <div *ngIf="disabled; else edit">
                        <span><i class="material-icons profile-icon" (click)="editProfile()" matTooltip="Edit profile">edit</i></span>
                  </div>
                  <ng-template #edit>
                        <span><i class="material-icons profile-icon" (click)="save()" matTooltip="Save changes">save</i></span>
                        <span><i class="material-icons profile-icon" (click)="cancel()" matTooltip="Cancel changes">close</i></span>
                  </ng-template>
                </mat-card-header>
                <mat-card-content >
                    <mat-tab-group>
                      <!-- Personal information tab --> 
                        <mat-tab label="Personal">
                            <form>
                                <div class="form-container">
                                  <!-- Row 1 -->
                                  <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayout="2%" fxLayoutAlign="center" class="form-container">
                                        <p class="paragraph-text">Name</p>
                                </div>    
                                  <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayout="2%" fxLayoutAlign="center" class="form-container">
                                      <mat-form-field class="form-space" >
                                          <input matInput placeholder="First name" [(ngModel)]="userProfile.fname" name="userProfile.fname" [disabled]="disabled">
                                          </mat-form-field>
                                          <mat-form-field class="form-space">
                                            <input matInput placeholder="Last name" [(ngModel)]="userProfile.lname" name="userProfile.lname" [disabled]="disabled">
                                        </mat-form-field>
                                  </div>
                                  
                                  <!-- Row 2 -->
                                  <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayout="2%" fxLayoutAlign="center" class="form-container">
                                        <p class="paragraph-text">Contact</p>
                                </div>   
                                  <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayout="2%" fxLayoutAlign="center" class="form-container">
                                    <mat-form-field class="form-space">
                                        <input matInput placeholder="Email" [(ngModel)]="userProfile.email" name="userProfile.email" [disabled]="disabled">
                                    </mat-form-field>
                                  </div>

                                  <!-- Row 3 -->
                                  <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayout="2%" fxLayoutAlign="center" class="form-container">
                                      <mat-form-field class="form-space">
                                          <input matInput placeholder="Home Phone" [(ngModel)]="userProfile.homePhoneNo" name="userProfile.homePhoneNo" [disabled]="disabled">
                                          </mat-form-field>
                                          <mat-form-field class="form-space">
                                            <input matInput placeholder="Mobile Phone" [(ngModel)]="userProfile.mobilePhoneNo" name="userProfile.mobilePhoneNo" [disabled]="disabled">
                                        </mat-form-field>
                                  </div>
                                  
                                  <!-- Row 4 -->
                                  <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayout="2%" fxLayoutAlign="center" class="form-container">
                                        <p class="paragraph-text">Address</p>
                                </div>   
                                  <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayout="2%" fxLayoutAlign="center" class="form-container">
                                      <mat-form-field class="form-space">
                                          <input matInput placeholder="Street Number" type="number" [(ngModel)]="userProfile.address.streetNo" name="userProfile.address.streetNo" [disabled]="disabled">
                                          </mat-form-field>
                                          <mat-form-field class="form-space">
                                            <input matInput placeholder="Street Name" [(ngModel)]="userProfile.address.streetName" name="userProfile.address.streetName" [disabled]="disabled">
                                        </mat-form-field>
                                        <mat-form-field class="form-space">
                                            <input matInput placeholder="City" [(ngModel)]="userProfile.address.city" name="userProfile.address.city" [disabled]="disabled">
                                        </mat-form-field>
                                  </div>

                                  <!-- Row 4 -->
                                  <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayout="2%" fxLayoutAlign="center" class="form-container">
                                      <mat-form-field class="form-space">
                                          <input matInput placeholder="Postal Code" [(ngModel)]="userProfile.address.postalCode" name="userProfile.address.postalCode" [disabled]="disabled">
                                      </mat-form-field>
                                      <mat-form-field class="form-space">
                                            <input matInput placeholder="Province" [(ngModel)]="userProfile.address.province" name="userProfile.address.province" [disabled]="disabled">
                                        </mat-form-field>
                                      <mat-form-field class="form-space">
                                          <input matInput placeholder="Country" [(ngModel)]="userProfile.address.country" name="userProfile.address.country" [disabled]="disabled">
                                      </mat-form-field>
                                  </div>
                                </div>
                              </form>
                        </mat-tab>
                        
                        <!-- Account information tab --> 
                        <mat-tab label="Account">
                            <form class="tab-space">
                                <div class="form-container">
                                  <!-- Row 1 -->
                                  <mat-form-field>
                                    <input matInput placeholder="Username" [(ngModel)]="userProfile.email" name="userProfile.email" disabled>
                                    </mat-form-field>
                                    <mat-form-field>
                                      <input matInput placeholder="Password" type="password" value="AAAAAAAAAAAAAAAAAAAAAAA" disabled>
                                    </mat-form-field>
                                </div>
                              </form>
                        </mat-tab>
                      </mat-tab-group>
                </mat-card-content>
                <mat-card-actions>
                </mat-card-actions>
              </mat-card>
        </div>
      </div>    
</app-main-nav>

