.title {
    font-size: xx-large;
    color: #F1F1F2;
}

.login-form {
    min-width: 150px;
    max-width: 800px;
    width: 800px;
}

.full-width {
    width: 100%;
}

.fields{
    display: inline-block;
}

.mat-redButton {
    background-color: #B00F38;
    color: #fff;
}

.background {
    background-image: linear-gradient(
        rgba(255,255,255,0.7),
        rgba(0,0,0,0.3)),url("../gridly-background.jpeg");
    
        height: 100%;
    
        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
}
