
<router-outlet></router-outlet>

<mat-toolbar class="toolbar">
    <span class="title" routerLink="">Gridly</span><i class="material-icons sidebar-icon">blur_on</i> 
</mat-toolbar>

<!-- <div class="background" *ngIf ="!deactivatedUser && !changingPassword && !forgotPassword && clickedLogin"> -->

<div class="background">
    <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayout="2%" fxLayoutAlign="center">
        <div fxFlex="30%" fxFlex.xs="100%">
            <mat-card class="login-card animated fadeIn">
                <mat-card-header class="card-title">
                    <mat-card-title><h2>Login</h2></mat-card-title>
                        <span class="fill-space"></span>
                    </mat-card-header> 
                    <mat-card-content>
                            <div class="form-container">
                                <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayout="2%" fxLayoutAlign="center" class="form-container">
                                    <mat-form-field>
                                        <input matInput #name placeholder="Email" [(ngModel)]="email">
                                    </mat-form-field>
                                </div>
                                <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayout="2%" fxLayoutAlign="center" class="form-container">
                                    <mat-form-field>
                                        <input matInput type="password" #description placeholder="Password"[(ngModel)]="password">
                                    </mat-form-field>
                                </div>
                                <!-- <h2 style="color:Tomato" *ngIf="statusMessage && triedLogin">{{statusMessage}}</h2>
                                <h2 style="color:#196804"  *ngIf="!statusMessage && triedLogin">Success! Password verified! Redirecting to home page...</h2> -->
                                <!-- <b style="color:Tomato" *ngIf="statusMessage && triedLogin">{{statusMessage}}<br/></b>
                                <b style="color:#196804"  *ngIf="!statusMessage && triedLogin">Success! Password verified! Redirecting to home page...<br /></b> -->
                                <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayout="2%" fxLayoutAlign="center" class="form-container button-container ">
                                    <button mat-raised-button class="login-button red-button" data-toggle="modal" data-target="#loading" [disabled] = "processing"  (click)="submitLogin()">Login</button>
                                </div>
                                <br/>
                                <!-- <a *ngIf="!processing" (click) = "forgotPasswordClicked()">Forgot Password?</a> -->
                                <br /><br />
                                <p *ngIf="loginFailed">In correct password! Please try again.</p>
                            </div>
                    </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>

  <!-- Loading modal -->
  <div class="modal fade" id="loading" tabindex="-1" role="dialog"
  aria-labelledby="visualizeTreatmentsModal" aria-hidden="true">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-body">
          <h3 class="red scanning-title">Loading...</h3>
          <div class="spinner red"></div>
          </div>
        </div>
      </div>
  </div>

