/* You can add global styles to this file, and also import other style files */
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";


html, body{
    margin: 0;
    font-family: 'Roboto';
    height: 100%;
    color: #F1F1F1;
}

h3 {
    color: #B00F3B;
    font-family: 'Roboto';
}

.sidebar {
    background: #373B46;
    color: #F1F1F1;
}

.toolbar {
    background: #B00F3B;
    color: #F1F1F1;
}

.sidebar-icon {
    padding-right: 7%;
    color: #F1F1F1;
}

a:hover{
    background: #B00F3B;
}

.fill-space {
    flex: 1 1 auto;
}

.logout-button {
    background: #F1F1F1;
    color: #B00F3B;
}

.logout-button:hover {
    background: #373B46;
    color: #F1F1F1;
}

.sell-button {
    background: #B00F3B;
    color: #F1F1F1;   
}

.sell-button:hover {
    background: #F1F1F1;
    color: #B00F3B;
}

.title {
    font-size: xx-large;
    color: #F1F1F1;
    cursor: pointer;
}

.mobile-title {
    padding-left: 70%;
}

.home-card {
    background: #F5F5F5;
    color: #373B46;
    margin: 3%;
}

.register-card {
    background: #373B46;
    color: #F1F1F1;
    margin: 3%;
}

.card-title {
    font-size: xx-large;
    margin-left: 1%;
}

.form-container {
    display: flex;
    flex-direction: column;
    margin-left: 2%;
    margin-right: 2%;
  }
  
  .form-container > * {
    width: 100%;
  }


  .red-button {
    background: #B00F3B;
    color: #F1F1F1;
  }

  .red-button:hover{
    background: #F1F1F1;
    color: #B00F3B;
  }

  .red-button:disabled {
    background: #F1F1F1;
    color: #B00F3B;
  }

  .button-space {
      margin-top: 5%;
      margin-bottom: 5%;
  }

.mat-step-header .mat-step-icon-selected {
    background-color: #B00F3B; 
 }

.stepper {
    background: #F5F5F5;
    color: #373B46;
}

.button-container {
    margin-top: 5%;
}

.paragraph-text {
    font-size: large;
    color: #373B46;
}

.back {
    z-index: -10;
}

.login-card {
        background: #F5F5F5;
        color: #373B46;
        margin: 15%;
}

.settings-card {
    background: #F5F5F5;
    color: #373B46;
    margin: 2%;
}

/* Loading Spinner */
.spinner {
    /* changing --size & --circle-size will adjust size of the spinner */
    --size: 150px;
    --circle-size: 10px;
    --vertical-horizontal-offset: calc(5 * var(--circle-size));
    --diagonal-offset: calc(3.5 * var(--circle-size));
    /* changing --color will adjust the color of the spinner */
    --color: 255, 255, 255;
    transition: transform 1s ease-in-out;
    min-height: var(--size);
    min-width: var(--size);
    position: relative;
    z-index: 10;
  }
  
  @keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  .spinner::after {
      display: block;
      content: '';
      border-radius: 50%;
      position: absolute;
      left: 50%;
      top: 50%;
      height: var(--circle-size);
      width: var(--circle-size);
      animation: rotate 1s steps(8) infinite;
      box-shadow:
        /* top circle */
        0 calc(-1 * var(--vertical-horizontal-offset)) 0 var(--circle-size) rgba(var(--color), 1),
        /* top-right circle */
        var(--diagonal-offset) calc(-1 * var(--diagonal-offset)) 0 var(--circle-size) rgba(var(--color), 0.7),
        /* right circle */
        var(--vertical-horizontal-offset) 0 0 var(--circle-size) rgba(var(--color), 0.5),
        /* bottom-right circle */
        var(--diagonal-offset) var(--diagonal-offset) 0 var(--circle-size) rgba(var(--color), 0.3),
        /* bottom circle */
        0 var(--vertical-horizontal-offset) 0 var(--circle-size) rgba(var(--color), 0.2),
        /* bottom-left circle */
        calc(-1 * var(--diagonal-offset)) var(--diagonal-offset) 0 var(--circle-size) rgba(var(--color), 0.2),
        /* left circle */
        calc(-1 * var(--vertical-horizontal-offset)) 0 0 var(--circle-size) rgba(var(--color), 0.15),
         /* top-left circle */
        calc(-1 * var(--diagonal-offset)) calc(-1 * var(--diagonal-offset)) 0 var(--circle-size) rgba(var(--color), 0.4);
  }

  .list-item:hover {
    background: #373B46;
    color: #F5F5F5;
    cursor: pointer;
  }

  .fill-title {
      width: 300px;
  }

   .sell-energy-title {
      min-width: 100%;
  }

  .list-size {
      height: 150px;
      overflow-y: scroll;
  }

  /* CUSTOM SCROLL BAR */
  /* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #373B46; 
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #B00F3B; 
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #B00F3B; 
}