/* You can add global styles to this file, and also import other style files */
html, body{
    margin: 0;
    font-family: 'Roboto';
}

.sidebar{
    background: #373B46;
    color: #F1F1F1;
}

.toolbar {
    background: #B00F3B;
    color: #F1F1F1;
}

.sidebar-icon {
    padding-right: 7%;
}

a:hover{
    background: #B00F3B;
}

.fill-space {
    flex: 1 1 auto;
}
