/* You can add global styles to this file, and also import other style files */
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";


html, body{
    margin: 0;
    font-family: 'Roboto';
    height: 100%;
    color: #F1F1F1;
}

.sidebar{
    background: #373B46;
    color: #F1F1F1;
}

.toolbar {
    background: #B00F3B;
    color: #F1F1F1;
}

.sidebar-icon {
    padding-right: 7%;
    color: #F1F1F1;
}

a:hover{
    background: #B00F3B;
}

.fill-space {
    flex: 1 1 auto;
}

.logout-button {
    background: #F1F1F1;
    color: #B00F3B;
}

.logout-button:hover {
    background: #373B46;
    color: #F1F1F1;
}

.title {
    font-size: xx-large;
    color: #F1F1F1;
    cursor: pointer;
}

.mobile-title {
    padding-left: 70%;
}

.home-card {
    background: #F5F5F5;
    color: #373B46;
    margin: 5%;
}

.register-card {
    background: #373B46;
    color: #F1F1F1;
    margin: 5%;
}

.card-title {
    font-size: xx-large;
}

.form-container {
    display: flex;
    flex-direction: column;
    margin-left: 2%;
    margin-right: 2%;
  }
  
  .form-container > * {
    width: 100%;
  }


  .red-button {
    background: #B00F3B;
    color: #F1F1F1;
  }

  .red-button:hover{
    background: #F1F1F1;
    color: #B00F3B;
  }

  .red-button:disabled {
    background: #F1F1F1;
    color: #B00F3B;
  }

  .button-space {
      margin-top: 5%;
      margin-bottom: 5%;
  }

  .mat-step-header .mat-step-icon-selected {
    background-color: #B00F3B; 
 }

.stepper {
    background: #F5F5F5;
    color: #373B46;
}

.button-container {
    margin-top: 5%;
}

.paragraph-text {
    font-size: large;
    color: #373B46;
}