.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
  background: #373B46;
  color: #F1F1F1;
}

.sidenav .mat-toolbar {
  background: #B00F3B;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
  background: #B00F3B;
  color: #F1F1F1;
}
