<app-main-nav>
  <div  fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayout="1%" fxLayoutAlign="center" fxFill>
    <div fxFlex="100%" fxFlex.xs="100%">
      <mat-card class="graph-card" fxFlex="50%" fxLayoutDesign="left">  
          <span fxLayoutDesign="left" class="graph-title"> Quantity (kWh) vs Time</span>
          <ngx-charts-line-chart
          [legend]="llegend"
          [scheme]="lcolorScheme"
          [results]="QVT"
          [gradient]="lgradient"
          [xAxis]="lshowXAxis"
          [yAxis]="lshowYAxis"
          [legend]="lshowLegend"
          [showXAxisLabel]="lshowXAxisLabel"
          [showYAxisLabel]="lshowYAxisLabel"
          [xAxisLabel]="lxAxisLabel"
          [yAxisLabel]="lyAxisLabel"
          [autoScale]="lautoScale"
          [timeline]="ltimeline"
          [view]="lview"
          (select)="onSelect($event)">
        </ngx-charts-line-chart>
      </mat-card>
      <mat-card class="graph-card" fxFlex="50%" fxLayoutDesign="left">  
          <span fxLayoutDesign="left" class="graph-title"> Unit Price ($) vs Time</span>
          <ngx-charts-line-chart
          [legend]="rlegend"
          [scheme]="rcolorScheme"
          [results]="PVT"
          [gradient]="rgradient"
          [xAxis]="rshowXAxis"
          [yAxis]="rshowYAxis"
          [legend]="rshowLegend"
          [showXAxisLabel]="rshowXAxisLabel"
          [showYAxisLabel]="rshowYAxisLabel"
          [xAxisLabel]="rxAxisLabel"
          [yAxisLabel]="ryAxisLabel"
          [autoScale]="rautoScale"
          [timeline]="rtimeline"
          [view]="rview"
          (select)="onSelect($event)">
        </ngx-charts-line-chart>
      </mat-card>
    </div>
  </div>
  <!-- Row 1 -->
  <div  fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayout="1%" fxLayoutAlign="center" fxFill>
      <div fxFlex="100%" fxFlex.xs="100%">
        <mat-card class="transaction-card" fxFlex="100%" fxFlex.xs = 100% fxLayoutDesign="left">
        <table mat-table #table [dataSource]="dataSource" matSort matSortActive="timeStamp" matSortDirection="asc" class="mat-elevation-z8">
          
          <ng-container matColumnDef="timeStamp">
            <th class= "header" mat-header-cell *matHeaderCellDef mat-sort-header>Time</th>
            <td class= "cell" mat-cell *matCellDef="let element"> {{element.timeStamp}} </td>
          </ng-container>
  
          <ng-container matColumnDef="buyer">
              <th class= "header" mat-header-cell *matHeaderCellDef mat-sort-header>Buyer</th>
              <td class= "cell" mat-cell *matCellDef="let element"> {{element.buyer}} </td>
          </ng-container>

          <ng-container matColumnDef="seller">
              <th class= "header" mat-header-cell *matHeaderCellDef mat-sort-header>Seller</th>
              <td class= "cell" mat-cell *matCellDef="let element"> {{element.seller}} </td>
          </ng-container>
   
          <ng-container matColumnDef="electricityQuantity">
            <th class= "header" mat-header-cell *matHeaderCellDef mat-sort-header>Quantity (kWh)</th>
            <td class= "cell" mat-cell *matCellDef="let element"> {{element.electricityQuantity}} </td>
          </ng-container>
     
          <ng-container matColumnDef="unitElectricityPrice">
            <th class= "header" mat-header-cell *matHeaderCellDef mat-sort-header>Unit Price ($/kWh)</th>
            <td class= "cell" mat-cell *matCellDef="let element"> {{element.unitElectricityPrice}} </td>
          </ng-container>
  
          <ng-container matColumnDef="totalPrice">
            <th class= "header" mat-header-cell *matHeaderCellDef mat-sort-header>Total Price ($)</th>
            <td class= "cell" mat-cell *matCellDef="let element"> {{element.totalPrice}} </td>
          </ng-container>
        
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[5]" showFirstLastButtons></mat-paginator>
        </mat-card>
      </div>
    </div>
   <!-- Row 2 -->
  

</app-main-nav>
